<div class="row">
    <div class="col-md-6 rank">
        <h2 class="green">HEAVYWEIGHT</h2>
        <ol>
            <li>Tyson Fury 👑</li>
            <li>Anthony Joshua 👑</li>
            <li>Deontay Wilder</li>
            <li>Alexander Povetkin</li>
            <li>Andy Ruiz Jr.</li>
        </ol>
    </div>
    <div class="col-md-6 rank">
        <h2 class="green">CRUISERWEIGHT</h2>
        <ol>
            <li>Mairis Briedis 👑</li>
            <li>Yunier Dorticos</li>
            <li>Junior Makabu 👑</li>
            <li>Kevin Lerena 👑</li>
            <li>Krzysztof Wlodarczyk</li>
        </ol>
    </div>
</div>

<div class="row">
    <div class="col-md-6 rank">
        <h2 class="green">LIGHT HEAVYWEIGHT</h2>
        <ol>
            <li>Artur Beterbiev 👑</li>
            <li>Dmitry Bivol 👑</li>
            <li>Badou Jack</li>
            <li>Gilberto Ramirez</li>
            <li>Jean Pascal</li>
        </ol>
    </div>
    <div class="col-md-6 rank">
        <h2 class="green">SUPER MIDDLEWEIGHT</h2>
        <ol>
            <li>Canelo 👑</li>
            <li>David Benavidez</li>
            <li>Billy Joe Saunders 👑</li>
            <li>Caleb Plant 👑</li>
            <li>Callum Smith </li>
        </ol>
    </div>
</div>

<div class="row">
    <div class="col-md-6 rank">
        <h2 class="green">MIDDLEWEIGHT</h2>
        <ol>
            <li>Gennady Golovkin 👑</li>
            <li>Jermall Charlo 👑</li>
            <li>Demetrius Andrade 👑</li>
            <li>Chris Eubank Jr.</li>
            <li>Jaime Munguia</li>
        </ol>
    </div>
    <div class="col-md-6 rank">
        <h2 class="green">SUPER WELTERWEIGHT</h2>
        <ol>
            <li>Jermell Charlo 👑</li>
            <li>Erislandy Lara 👑</li>
            <li>Jarrett Hurd</li>
            <li>Erickson Lubin</li>
            <li>Jeison Rosario</li>
        </ol>
    </div>
</div>

<div class="row">
    <div class="col-md-6 rank">
        <h2 class="green">WELTERWEIGHT</h2>
        <ol>
            <li>Errol Spence 👑</li>
            <li>Manny Pacquiao 👑</li>
            <li>Terence Crawford 👑</li>
            <li>Shawn Porter</li>
            <li>Keith Thurman</li>
        </ol>
    </div>
    <div class="col-md-6 rank">
        <h2 class="green">SUPER-LIGHTWEIGHT</h2>
        <ol>
            <li>Jose Ramirez 👑</li>
            <li>Josh Taylor 👑</li>
            <li>Regis Prograis</li>
            <li>Jorge Linares</li>
            <li>Viktor Postol</li>
        </ol>
    </div>
</div>

<div class="row">
    <div class="col-md-6 rank">
        <h2 class="green">LIGHTWEIGHT</h2>
        <ol>
            <li>Teofimo Lopez 👑</li>
            <li>Vasyl Lomachenko</li>
            <li>Gervonta Davis</li>
            <li>Devin Haney 👑</li>
            <li>Ryan Garcia</li>
        </ol>
    </div>
    <div class="col-md-6 rank">
        <h2 class="green">SUPER-FEATHERWEIGHT</h2>
        <ol>
            <li>Miguel Berchelt 👑</li>
            <li>Oscar Valdez</li>
            <li>Shakur Stevenson</li>
            <li>Leo Santa Cruz</li>
            <li>Jamel Herring 👑</li>
        </ol>
    </div>
</div>

<div class="row">
    <div class="col-md-6 rank">
        <h2 class="green">FEATHERWEIGHT</h2>
        <ol>
            <li>Gary Russell Jr. 👑</li>
            <li>Emanuel Navarette</li>
            <li>Josh Warrington 👑</li>
            <li>Can Xu</li>
            <li>Jessie Magdaleno</li>
        </ol>
    </div>
    <div class="col-md-6 rank">
        <h2 class="green">SUPER-BANTAMWEIGHT</h2>
        <ol>
            <li>Rey Vargas</li>
            <li>Murodjon Akhmadaliev 👑</li>
            <li>Angelo Leo 👑</li>
            <li>Luis Nery 👑</li>
            <li>Danny Roman</li>
        </ol>
    </div>
</div>

<div class="row">
    <div class="col-md-6 rank">
        <h2 class="green">BANTAMWEIGHT</h2>
        <ol>
            <li>Naoya Inoue 👑</li>
            <li>Nonito Donaire</li>
            <li>John Riel Casimero 👑</li>
            <li>Guillermo Rigondeaux</li>
            <li>Nordine Oubaali 👑</li>
        </ol>
    </div>
    <div class="col-md-6 rank">
        <h2 class="green">SUPER-FLYWEIGHT</h2>
        <ol>
            <li>Roman Gonzalez 👑</li>
            <li>Juan Estrada 👑</li>
            <li>Donnie Nietes 👑</li>
            <li>Jerwin Ancajas 👑</li>
            <li>Srisaket Sor Rungvisai</li>
        </ol>
    </div>
</div>

<div class="row">
    <div class="col-md-6 rank">
        <h2 class="green">FLYWEIGHT</h2>
        <ol>
            <li>Kosei Tanaka 👑</li>
            <li>Moruti Mthalane 👑</li>
            <li>JC Martinez 👑</li>
            <li>Artem Dalakian 👑</li>
            <li>Sho Kimura</li>
        </ol>
    </div>
    <div class="col-md-6 rank">
        <h2 class="green">LIGHT-FLYWEIGHT</h2>
        <ol>
            <li>Hiroto Kyoguchi 👑</li>
            <li>Ken Shiro 👑</li>
            <li>Carlos Canizales 👑</li>
            <li>Felix Alvarado 👑</li>
            <li>Elwin Soto</li>
        </ol>
    </div>
</div>

