<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta name="description" content="AllAboutBoxing Champions">

    <title>Champions</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.5.0/css/flag-icon.min.css" integrity="sha512-Cv93isQdFwaKBV+Z4X8kaVBYWHST58Xb/jVOcV9aRsGSArZsgAnFIhMpDoMDcFNoUtday1hdjn0nGp3+KZyyFw==" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog==" crossorigin="anonymous" />
    <link rel='stylesheet' id='parent-style-css' href='https://box.live/wp-content/themes/topnews/style.css' type='text/css' media='all' />
    <link rel='stylesheet' id='child-style-css' href='https://box.live/wp-content/themes/box-live/style.css' type='text/css' media='all' />

</head>

<body>

    <div>
        <table cellspacing=0 cellpadding=0 border=0 class="dataTable" align="center">

            <tr><td colspan=6 style="padding-bottom:5px;padding-top:5px;"><h1 class="boxhead">Heavyweight</h1></td></tr>
            <tr>
                <th style="padding-left:20px;border-bottom:0;">AllAboutBoxing</th>
                <th style="padding-left:20px;border-bottom:0;">WBC</th>
                <th style="padding-left:20px;border-bottom:0;">WBO</th>
                <th style="padding-left:20px;border-bottom:0;">IBF</th>
                <th style="padding-left:20px;border-bottom:0;">WBA</th>
            </tr>
            <tr>
                <td valign='top' style="padding-top:5px;">
                    <a href="https://box.live/boxers/tyson-fury/">
                        <div class="clear"></div>
                        <div style="width:80px;overflow:hidden;height:100px;">
                            <img border=0 src="https://boxrec.com/media/images/thumb/0/04/TysonFury1.jpg/200px-TysonFury1.jpg" width="80px">
                        </div>
                    </a>
                    <a href="https://box.live/boxers/tyson-fury/" class="personLink">
                        <div style="float:left;">
                            <span class="flag-icon flag-icon-gb" style="margin-right: 3px"></span>
                        </div>
                        <div style="float:left;">
                            Tyson<br>Fury
                        </div>
                    </a>
                </td>

                <td valign='top' style="padding-top:5px;">
                    <a href="https://box.live/boxers/tyson-fury/">
                        <div class="clear"></div>
                        <div style="width:80px;overflow:hidden;height:100px;">
                            <img border=0 src="https://boxrec.com/media/images/thumb/0/04/TysonFury1.jpg/200px-TysonFury1.jpg" width="80px">
                        </div>
                    </a>
                    <a href="https://box.live/boxers/tyson-fury/" class="personLink">
                        <div style="float:left;">
                            <span class="flag-icon flag-icon-gb" style="margin-right: 3px"></span>
                        </div>
                        <div style="float:left;">
                            Tyson<br>Fury
                        </div>
                    </a>
                </td>

                <td valign='top' style="padding-top:5px;">
                    <a href="https://box.live/boxers/anthony-joshua/">
                        <div class="clear"></div>
                        <div style="width:80px;overflow:hidden;height:100px;">
                            <img border=0 src="https://boxrec.com/media/images/thumb/3/38/659461.jpeg/200px-659461.jpeg" width="80px">
                        </div>
                    </a>
                    <a href="https://box.live/boxers/anthony-joshua/" class="personLink">
                        <div style="float:left;">
                            <span class="flag-icon flag-icon-gb" style="margin-right: 3px"></span>
                        </div>
                        <div style="float:left;">
                            Anthony<br>Joshua
                        </div>
                    </a>
                </td>

                <td valign='top' style="padding-top:5px;">
                    <a href="https://box.live/boxers/anthony-joshua/">
                        <div class="clear"></div>
                        <div style="width:80px;overflow:hidden;height:100px;">
                            <img border=0 src="https://boxrec.com/media/images/thumb/3/38/659461.jpeg/200px-659461.jpeg" width="80px">
                        </div>
                    </a>
                    <a href="https://box.live/boxers/anthony-joshua/" class="personLink">
                        <div style="float:left;">
                            <span class="flag-icon flag-icon-gb" style="margin-right: 3px"></span>
                        </div>
                        <div style="float:left;">
                            Anthony<br>Joshua
                        </div>
                    </a>
                </td>

                <td valign='top' style="padding-top:5px;">
                    <a href="https://box.live/boxers/anthony-joshua/">
                        <div class="clear"></div>
                        <div style="width:80px;overflow:hidden;height:100px;">
                            <img border=0 src="https://boxrec.com/media/images/thumb/3/38/659461.jpeg/200px-659461.jpeg" width="80px">
                        </div>
                    </a>
                    <a href="https://box.live/boxers/anthony-joshua/" class="personLink">
                        <div style="float:left;">
                            <span class="flag-icon flag-icon-gb" style="margin-right: 3px"></span>
                        </div>
                        <div style="float:left;">
                            Anthony<br>Joshua
                        </div>
                    </a>
                </td>

            </tr>
            <tr><td colspan=6 style="border-bottom:1px solid #ddd;height:1px;padding-bottom:5px;padding-top:5px;"></td></tr>
            <tr><td colspan=6 style="padding-bottom:5px;padding-top:5px;"><h1 class="boxhead">Cruiserweight</h1></td></tr>
            <tr>
                <th style="padding-left:20px;border-bottom:0;">AllAboutBoxing</th>
                <th style="padding-left:20px;border-bottom:0;">WBC</th>
                <th style="padding-left:20px;border-bottom:0;">WBO</th>
                <th style="padding-left:20px;border-bottom:0;">IBF</th>
                <th style="padding-left:20px;border-bottom:0;">WBA</th>
            </tr>
            <tr>
                <td valign='top' style="padding-top:5px;">
                    <a href="https://box.live/boxers/mairis-briedis/">
                        <div class="clear"></div>
                        <div style="width:80px;overflow:hidden;height:100px;">
                            <img border=0 src="https://boxrec.com/media/images/thumb/5/5a/Mairis_Briedis.jpeg/200px-Mairis_Briedis.jpeg" width="80px">
                        </div>
                    </a>
                    <a href="https://box.live/boxers/mairis-briedis/" class="personLink">
                        <div style="float:left;">
                            <span class="flag-icon flag-icon-lv" style="margin-right: 3px"></span>
                        </div>
                        <div style="float:left;">
                            Mairis<br>Briedis
                        </div>
                    </a>
                </td>

                <td valign='top' style="padding-top:5px;">
                    <a href="https://box.live/boxers/ilunga-makabu/">
                        <div class="clear"></div>
                        <div style="width:80px;overflow:hidden;height:100px;">
                            <img border=0 src="https://boxrec.com/media/images/thumb/c/ce/457720.jpeg/200px-457720.jpeg" width="80px">
                        </div>
                    </a>
                    <a href="https://box.live/boxers/ilunga-makabu/" class="personLink">
                        <div style="float:left;">
                            <span class="flag-icon flag-icon-cd" style="margin-right: 3px"></span>
                        </div>
                        <div style="float:left;">
                            Ilunga Junior<br>Makabu
                        </div>
                    </a>
                </td>

                <td valign='top' style="padding-top:5px;">
                    <img border=0 src="https://previews.123rf.com/images/newdesignillustrations/newdesignillustrations1811/newdesignillustrations181115572/127557909-vacant-seal-stamp-with-distress-style-blue-vector-rubber-print-of-vacant-title-with-dust-texture-tex.jpg" width="80px">
                    <br><br>
                </td>

                <td valign='top' style="padding-top:5px;">
                    <a href="https://box.live/boxers/mairis-briedis/">
                        <div class="clear"></div>
                        <div style="width:80px;overflow:hidden;height:100px;">
                            <img border=0 src="https://boxrec.com/media/images/thumb/5/5a/Mairis_Briedis.jpeg/200px-Mairis_Briedis.jpeg" width="80px">
                        </div>
                    </a>
                    <a href="https://box.live/boxers/mairis-briedis/" class="personLink">
                        <div style="float:left;">
                            <span class="flag-icon flag-icon-lv" style="margin-right: 3px"></span>
                        </div>
                        <div style="float:left;">
                            Mairis<br>Briedis
                        </div>
                    </a>
                </td>


                <td valign='top' style="padding-top:5px;">
                    <a href="/en/proboxer/572144">
                        <div class="clear"></div>
                        <div style="width:80px;overflow:hidden;height:100px;">
                            <img border=0 src="https://boxrec.com/media/images/thumb/a/a7/Goulamirian_Arsen.jpg/200px-Goulamirian_Arsen.jpg" width="80px">
                        </div>
                    </a>
                    <a href="/en/proboxer/572144" class="personLink">
                        <div style="float:left;">
                            <span class="flag-icon flag-icon-fr" style="margin-right: 3px"></span>
                        </div>
                        <div style="float:left;">
                            Arsen<br>Goulamirian
                        </div>
                    </a>
                </td>

            </tr>
            <tr><td colspan=6 style="border-bottom:1px solid #ddd;height:1px;padding-bottom:5px;padding-top:5px;"></td></tr>
            <tr><td colspan=6 style="padding-bottom:5px;padding-top:5px;"><h1 class="boxhead">Light heavyweight</h1></td></tr>
            <tr>
                <th style="padding-left:20px;border-bottom:0;">AllAboutBoxing</th>
                <th style="padding-left:20px;border-bottom:0;">WBC</th>
                <th style="padding-left:20px;border-bottom:0;">WBO</th>
                <th style="padding-left:20px;border-bottom:0;">IBF</th>
                <th style="padding-left:20px;border-bottom:0;">WBA</th>
            </tr>
            <tr>
                <td valign='top' style="padding-top:5px;">
                    <a href="/en/proboxer/505927">
                        <div class="clear"></div>
                        <div style="width:80px;overflow:hidden;height:100px;">
                            <img border=0 src="https://boxrec.com/media/images/thumb/c/cc/Sergey.Kovalev1.jpg/200px-Sergey.Kovalev1.jpg" width="80px">
                        </div>
                    </a>
                    <a href="/en/proboxer/505927" class="personLink">
                        <div style="float:left;">
                            <span class="flag-icon flag-icon-ru" style="margin-right: 3px"></span>
                        </div>
                        <div style="float:left;">
                            Sergey<br>Kovalev
                        </div>
                    </a>
                </td>

                <td valign='top' style="padding-top:5px;">
                    <a href="/en/proboxer/646981">
                        <div class="clear"></div>
                        <div style="width:80px;overflow:hidden;height:100px;">
                            <img border=0 src="https://boxrec.com/media/images/thumb/7/77/Artur_Beterbiev21.jpg/200px-Artur_Beterbiev21.jpg" width="80px">
                        </div>
                    </a>
                    <a href="/en/proboxer/646981" class="personLink">
                        <div style="float:left;">
                            <span class="flag-icon flag-icon-ru" style="margin-right: 3px"></span>
                        </div>
                        <div style="float:left;">
                            Artur<br>Beterbiev
                        </div>
                    </a>
                </td>

                <td valign='top' style="padding-top:5px;">
                    <img border=0 src="https://previews.123rf.com/images/newdesignillustrations/newdesignillustrations1811/newdesignillustrations181115572/127557909-vacant-seal-stamp-with-distress-style-blue-vector-rubber-print-of-vacant-title-with-dust-texture-tex.jpg" width="80px">
                    <br><br>
                </td>

                <td valign='top' style="padding-top:5px;">
                    <a href="/en/proboxer/646981">
                        <div class="clear"></div>
                        <div style="width:80px;overflow:hidden;height:100px;">
                            <img border=0 src="https://boxrec.com/media/images/thumb/7/77/Artur_Beterbiev21.jpg/200px-Artur_Beterbiev21.jpg" width="80px">
                        </div>
                    </a>
                    <a href="/en/proboxer/646981" class="personLink">
                        <div style="float:left;">
                            <span class="flag-icon flag-icon-ru" style="margin-right: 3px"></span>
                        </div>
                        <div style="float:left;">
                            Artur<br>Beterbiev
                        </div>
                    </a>
                </td>

                <td valign='top' style="padding-top:5px;">
                    <a href="/en/proboxer/703924">
                        <div class="clear"></div>
                        <div style="width:80px;overflow:hidden;height:100px;">
                            <img border=0 src="https://boxrec.com/media/images/thumb/5/51/DmitryBivol1.jpg/200px-DmitryBivol1.jpg" width="80px">
                        </div>
                    </a>
                    <a href="/en/proboxer/703924" class="personLink">
                        <div style="float:left;">
                            <span class="flag-icon flag-icon-ru" style="margin-right: 3px"></span>
                        </div>
                        <div style="float:left;">
                            Dmitry<br>Bivol
                        </div>
                    </a>
                </td>

            </tr>
            <tr><td colspan=6 style="border-bottom:1px solid #ddd;height:1px;padding-bottom:5px;padding-top:5px;"></td></tr>
            <tr><td colspan=6 style="padding-bottom:5px;padding-top:5px;"><h1 class="boxhead">Super middleweight</h1></td></tr>
            <tr>
                <th style="padding-left:20px;border-bottom:0;">AllAboutBoxing</th>
                <th style="padding-left:20px;border-bottom:0;">WBC</th>
                <th style="padding-left:20px;border-bottom:0;">WBO</th>
                <th style="padding-left:20px;border-bottom:0;">IBF</th>
                <th style="padding-left:20px;border-bottom:0;">WBA</th>
            </tr>
            <tr>
                <td valign='top' style="padding-top:5px;">
                    <a href="/en/proboxer/631178">
                        <div class="clear"></div>
                        <div style="width:80px;overflow:hidden;height:100px;">
                            <img border=0 src="https://boxrec.com/media/images/thumb/8/81/631178.jpeg/200px-631178.jpeg" width="80px">
                        </div>
                    </a>
                    <a href="/en/proboxer/631178" class="personLink">
                        <div style="float:left;">
                            <span class="flag-icon flag-icon-gb" style="margin-right: 3px"></span>
                        </div>
                        <div style="float:left;">
                            Callum<br>Smith
                        </div>
                    </a>
                </td>

                <td valign='top' style="padding-top:5px;">
                    <img border=0 src="https://previews.123rf.com/images/newdesignillustrations/newdesignillustrations1811/newdesignillustrations181115572/127557909-vacant-seal-stamp-with-distress-style-blue-vector-rubber-print-of-vacant-title-with-dust-texture-tex.jpg" width="80px">
                    <br><br>
                </td>

                <td valign='top' style="padding-top:5px;">
                    <a href="/en/proboxer/482499">
                        <div class="clear"></div>
                        <div style="width:80px;overflow:hidden;height:100px;">
                            <img border=0 src="https://boxrec.com/media/images/thumb/7/74/Billy_Joe_Saunders.jpeg/200px-Billy_Joe_Saunders.jpeg" width="80px">
                        </div>
                    </a>
                    <a href="/en/proboxer/482499" class="personLink">
                        <div style="float:left;">
                            <span class="flag-icon flag-icon-gb" style="margin-right: 3px"></span>
                        </div>
                        <div style="float:left;">
                            Billy Joe<br>Saunders
                        </div>
                    </a>
                </td>

                <td valign='top' style="padding-top:5px;">
                    <a href="/en/proboxer/684493">
                        <div class="clear"></div>
                        <div style="width:80px;overflow:hidden;height:100px;">
                            <img border=0 src="https://boxrec.com/media/images/thumb/2/2c/684493a.jpeg/200px-684493a.jpeg" width="80px">
                        </div>
                    </a>
                    <a href="/en/proboxer/684493" class="personLink">
                        <div style="float:left;">
                            <span class="flag-icon flag-icon-us" style="margin-right: 3px"></span>
                        </div>
                        <div style="float:left;">
                            Caleb<br>Plant
                        </div>
                    </a>
                </td>

                <td valign='top' style="padding-top:5px;">
                    <a href="/en/proboxer/631178">
                        <div class="clear"></div>
                        <div style="width:80px;overflow:hidden;height:100px;">
                            <img border=0 src="https://boxrec.com/media/images/thumb/8/81/631178.jpeg/200px-631178.jpeg" width="80px">
                        </div>
                    </a>
                    <a href="/en/proboxer/631178" class="personLink">
                        <div style="float:left;">
                            <span class="flag-icon flag-icon-gb" style="margin-right: 3px"></span>
                        </div>
                        <div style="float:left;">
                            Callum<br>Smith
                        </div>
                    </a>
                </td>
            </tr>

            <tr><td colspan=6 style="border-bottom:1px solid #ddd;height:1px;padding-bottom:5px;padding-top:5px;"></td></tr>
            <tr><td colspan=6 style="padding-bottom:5px;padding-top:5px;"><h1 class="boxhead">Middleweight</h1></td></tr>
            <tr>
                <th style="padding-left:20px;border-bottom:0;">AllAboutBoxing</th>
                <th style="padding-left:20px;border-bottom:0;">WBC</th>
                <th style="padding-left:20px;border-bottom:0;">WBO</th>
                <th style="padding-left:20px;border-bottom:0;">IBF</th>
                <th style="padding-left:20px;border-bottom:0;">WBA</th>
            </tr>
            <tr>
                <td valign='top' style="padding-top:5px;">
                    <a href="/en/proboxer/348759">
                        <div class="clear"></div>
                        <div style="width:80px;overflow:hidden;height:100px;">
                            <img border=0 src="https://boxrec.com/media/images/thumb/7/74/Santos_Saul_Alvarez_Barragan1.jpg/200px-Santos_Saul_Alvarez_Barragan1.jpg" width="80px">
                        </div>
                    </a>
                    <a href="/en/proboxer/348759" class="personLink">
                        <div style="float:left;">
                            <span class="flag-icon flag-icon-mx" style="margin-right: 3px"></span>
                        </div>
                        <div style="float:left;">
                            Saul<br>Alvarez
                        </div>
                    </a>
                </td>

                <td valign='top' style="padding-top:5px;">
                    <a href="/en/proboxer/471634">
                        <div class="clear"></div>
                        <div style="width:80px;overflow:hidden;height:100px;">
                            <img border=0 src="https://boxrec.com/media/images/thumb/1/1d/471634.jpeg/200px-471634.jpeg" width="80px">
                        </div>
                    </a>
                    <a href="/en/proboxer/471634" class="personLink">
                        <div style="float:left;">
                            <span class="flag-icon flag-icon-us" style="margin-right: 3px"></span>
                        </div>
                        <div style="float:left;">
                            Jermall<br>Charlo
                        </div>
                    </a>
                </td>

                <td valign='top' style="padding-top:5px;">
                    <a href="/en/proboxer/468433">
                        <div class="clear"></div>
                        <div style="width:80px;overflow:hidden;height:100px;">
                            <img border=0 src="https://boxrec.com/media/images/thumb/b/bc/Demetrius_Andrade_2019.JPG/200px-Demetrius_Andrade_2019.JPG" width="80px">
                        </div>
                    </a>
                    <a href="/en/proboxer/468433" class="personLink">
                        <div style="float:left;">
                            <span class="flag-icon flag-icon-us" style="margin-right: 3px"></span>
                        </div>
                        <div style="float:left;">
                            Demetrius<br>Andrade
                        </div>
                    </a>
                </td>

                <td valign='top' style="padding-top:5px;">
                    <a href="/en/proboxer/356831">
                        <div class="clear"></div>
                        <div style="width:80px;overflow:hidden;height:100px;">
                            <img border=0 src="https://boxrec.com/media/images/thumb/b/b9/GGG.jpg/200px-GGG.jpg" width="80px">
                        </div>
                    </a>
                    <a href="/en/proboxer/356831" class="personLink">
                        <div style="float:left;">
                            <span class="flag-icon flag-icon-kz" style="margin-right: 3px"></span>
                        </div>
                        <div style="float:left;">
                            Gennadiy<br>Golovkin
                        </div>
                    </a>
                </td>

                <td valign='top' style="padding-top:5px;">
                    <a href="/en/proboxer/348759">
                        <div class="clear"></div>
                        <div style="width:80px;overflow:hidden;height:100px;">
                            <img border=0 src="https://boxrec.com/media/images/thumb/7/74/Santos_Saul_Alvarez_Barragan1.jpg/200px-Santos_Saul_Alvarez_Barragan1.jpg" width="80px">
                        </div>
                    </a>
                    <a href="/en/proboxer/348759" class="personLink">
                        <div style="float:left;">
                            <span class="flag-icon flag-icon-mx" style="margin-right: 3px"></span>
                        </div>
                        <div style="float:left;">
                            Saul<br>Alvarez
                        </div>
                    </a>
                </td>

            </tr>
            <tr><td colspan=6 style="border-bottom:1px solid #ddd;height:1px;padding-bottom:5px;padding-top:5px;"></td></tr>
            <tr><td colspan=6 style="padding-bottom:5px;padding-top:5px;"><h1 class="boxhead">Super welterweight</h1></td></tr>
            <tr>
                <th style="padding-left:20px;border-bottom:0;">AllAboutBoxing</th>
                <th style="padding-left:20px;border-bottom:0;">WBC</th>
                <th style="padding-left:20px;border-bottom:0;">WBO</th>
                <th style="padding-left:20px;border-bottom:0;">IBF</th>
                <th style="padding-left:20px;border-bottom:0;">WBA</th>
            </tr>
            <tr>
                <td valign='top' style="padding-top:5px;">
                    <a href="/en/proboxer/433135">
                        <div class="clear"></div>
                        <div style="width:80px;overflow:hidden;height:100px;">
                            <img border=0 src="https://boxrec.com/media/images/thumb/2/2c/433135.jpeg/200px-433135.jpeg" width="80px">
                        </div>
                    </a>
                    <a href="/en/proboxer/433135" class="personLink">
                        <div style="float:left;">
                            <span class="flag-icon flag-icon-us" style="margin-right: 3px"></span>
                        </div>
                        <div style="float:left;">
                            Jermell<br>Charlo
                        </div>
                    </a>
                </td>

                <td valign='top' style="padding-top:5px;">
                    <a href="/en/proboxer/433135">
                        <div class="clear"></div>
                        <div style="width:80px;overflow:hidden;height:100px;">
                            <img border=0 src="https://boxrec.com/media/images/thumb/2/2c/433135.jpeg/200px-433135.jpeg" width="80px">
                        </div>
                    </a>
                    <a href="/en/proboxer/433135" class="personLink">
                        <div style="float:left;">
                            <span class="flag-icon flag-icon-us" style="margin-right: 3px"></span>
                        </div>
                        <div style="float:left;">
                            Jermell<br>Charlo
                        </div>
                    </a>
                </td>

                <td valign='top' style="padding-top:5px;">
                    <a href="/en/proboxer/508315">
                        <div class="clear"></div>
                        <div style="width:80px;overflow:hidden;height:100px;">
                            <img border=0 src="https://boxrec.com/media/images/thumb/0/0b/508315.jpeg/200px-508315.jpeg" width="80px">
                        </div>
                    </a>
                    <a href="/en/proboxer/508315" class="personLink">
                        <div style="float:left;">
                            <span class="flag-icon flag-icon-br" style="margin-right: 3px"></span>
                        </div>
                        <div style="float:left;">
                            Patrick<br>Teixeira
                        </div>
                    </a>
                </td>

                <td valign='top' style="padding-top:5px;">
                    <a href="/en/proboxer/433135">
                        <div class="clear"></div>
                        <div style="width:80px;overflow:hidden;height:100px;">
                            <img border=0 src="https://boxrec.com/media/images/thumb/2/2c/433135.jpeg/200px-433135.jpeg" width="80px">
                        </div>
                    </a>
                    <a href="/en/proboxer/433135" class="personLink">
                        <div style="float:left;">
                            <span class="flag-icon flag-icon-us" style="margin-right: 3px"></span>
                        </div>
                        <div style="float:left;">
                            Jermell<br>Charlo
                        </div>
                    </a>
                </td>

                <td valign='top' style="padding-top:5px;">
                    <a href="/en/proboxer/433135">
                        <div class="clear"></div>
                        <div style="width:80px;overflow:hidden;height:100px;">
                            <img border=0 src="https://boxrec.com/media/images/thumb/2/2c/433135.jpeg/200px-433135.jpeg" width="80px">
                        </div>
                    </a>
                    <a href="/en/proboxer/433135" class="personLink">
                        <div style="float:left;">
                            <span class="flag-icon flag-icon-us" style="margin-right: 3px"></span>
                        </div>
                        <div style="float:left;">
                            Jermell<br>Charlo
                        </div>
                    </a>
                </td>

            </tr>
            <tr><td colspan=6 style="border-bottom:1px solid #ddd;height:1px;padding-bottom:5px;padding-top:5px;"></td></tr>
            <tr><td colspan=6 style="padding-bottom:5px;padding-top:5px;"><h1 class="boxhead">Welterweight</h1></td></tr>
            <tr>
                <th style="padding-left:20px;border-bottom:0;">AllAboutBoxing</th>
                <th style="padding-left:20px;border-bottom:0;">WBC</th>
                <th style="padding-left:20px;border-bottom:0;">WBO</th>
                <th style="padding-left:20px;border-bottom:0;">IBF</th>
                <th style="padding-left:20px;border-bottom:0;">WBA</th>
            </tr>
            <tr>
                <td valign='top' style="padding-top:5px;">
                    <a href="/en/proboxer/629465">
                        <div class="clear"></div>
                        <div style="width:80px;overflow:hidden;height:100px;">
                            <img border=0 src="https://boxrec.com/media/images/thumb/d/de/629465.jpeg/200px-629465.jpeg" width="80px">
                        </div>
                    </a>
                    <a href="/en/proboxer/629465" class="personLink">
                        <div style="float:left;">
                            <span class="flag-icon flag-icon-us" style="margin-right: 3px"></span>
                        </div>
                        <div style="float:left;">
                            Errol<br>Spence Jr
                        </div>
                    </a>
                </td>

                <td valign='top' style="padding-top:5px;">
                    <a href="/en/proboxer/629465">
                        <div class="clear"></div>
                        <div style="width:80px;overflow:hidden;height:100px;">
                            <img border=0 src="https://boxrec.com/media/images/thumb/d/de/629465.jpeg/200px-629465.jpeg" width="80px">
                        </div>
                    </a>
                    <a href="/en/proboxer/629465" class="personLink">
                        <div style="float:left;">
                            <span class="flag-icon flag-icon-us" style="margin-right: 3px"></span>
                        </div>
                        <div style="float:left;">
                            Errol<br>Spence Jr
                        </div>
                    </a>
                </td>

                <td valign='top' style="padding-top:5px;">
                    <a href="/en/proboxer/447121">
                        <div class="clear"></div>
                        <div style="width:80px;overflow:hidden;height:100px;">
                            <img border=0 src="https://boxrec.com/media/images/thumb/f/f5/Hunter_Crawford_BoxRec.jpg/200px-Hunter_Crawford_BoxRec.jpg" width="80px">
                        </div>
                    </a>
                    <a href="/en/proboxer/447121" class="personLink">
                        <div style="float:left;">
                            <span class="flag-icon flag-icon-us" style="margin-right: 3px"></span>
                        </div>
                        <div style="float:left;">
                            Terence<br>Crawford
                        </div>
                    </a>
                </td>

                <td valign='top' style="padding-top:5px;">
                    <a href="/en/proboxer/629465">
                        <div class="clear"></div>
                        <div style="width:80px;overflow:hidden;height:100px;">
                            <img border=0 src="https://boxrec.com/media/images/thumb/d/de/629465.jpeg/200px-629465.jpeg" width="80px">
                        </div>
                    </a>
                    <a href="/en/proboxer/629465" class="personLink">
                        <div style="float:left;">
                            <span class="flag-icon flag-icon-us" style="margin-right: 3px"></span>
                        </div>
                        <div style="float:left;">
                            Errol<br>Spence Jr
                        </div>
                    </a>
                </td>

                <td valign='top' style="padding-top:5px;">
                    <a href="/en/proboxer/6129">
                        <div class="clear"></div>
                        <div style="width:80px;overflow:hidden;height:100px;">
                            <img border=0 src="https://boxrec.com/media/images/thumb/f/fa/MannyPacquiao1.jpg/200px-MannyPacquiao1.jpg" width="80px">
                        </div>
                    </a>
                    <a href="/en/proboxer/6129" class="personLink">
                        <div style="float:left;">
                            <span class="flag-icon flag-icon-ph" style="margin-right: 3px"></span>
                        </div>
                        <div style="float:left;">
                            Manny<br>Pacquiao
                        </div>
                    </a>
                </td>

            </tr>
            <tr><td colspan=6 style="border-bottom:1px solid #ddd;height:1px;padding-bottom:5px;padding-top:5px;"></td></tr>
            <tr><td colspan=6 style="padding-bottom:5px;padding-top:5px;"><h1 class="boxhead">Super lightweight</h1></td></tr>
            <tr>
                <th style="padding-left:20px;border-bottom:0;">AllAboutBoxing</th>
                <th style="padding-left:20px;border-bottom:0;">WBC</th>
                <th style="padding-left:20px;border-bottom:0;">WBO</th>
                <th style="padding-left:20px;border-bottom:0;">IBF</th>
                <th style="padding-left:20px;border-bottom:0;">WBA</th>
            </tr>
            <tr>
                <td valign='top' style="padding-top:5px;">
                    <a href="/en/proboxer/632104">
                        <div class="clear"></div>
                        <div style="width:80px;overflow:hidden;height:100px;">
                            <img border=0 src="https://boxrec.com/media/images/thumb/3/32/JuanCarlosRamirez.jpg/200px-JuanCarlosRamirez.jpg" width="80px">
                        </div>
                    </a>
                    <a href="/en/proboxer/632104" class="personLink">
                        <div style="float:left;">
                            <span class="flag-icon flag-icon-us" style="margin-right: 3px"></span>
                        </div>
                        <div style="float:left;">
                            Jose Carlos<br>Ramirez
                        </div>
                    </a>
                </td>

                <td valign='top' style="padding-top:5px;">
                    <a href="/en/proboxer/632104">
                        <div class="clear"></div>
                        <div style="width:80px;overflow:hidden;height:100px;">
                            <img border=0 src="https://boxrec.com/media/images/thumb/3/32/JuanCarlosRamirez.jpg/200px-JuanCarlosRamirez.jpg" width="80px">
                        </div>
                    </a>
                    <a href="/en/proboxer/632104" class="personLink">
                        <div style="float:left;">
                            <span class="flag-icon flag-icon-us" style="margin-right: 3px"></span>
                        </div>
                        <div style="float:left;">
                            Jose Carlos<br>Ramirez
                        </div>
                    </a>
                </td>

                <td valign='top' style="padding-top:5px;">
                    <a href="/en/proboxer/632104">
                        <div class="clear"></div>
                        <div style="width:80px;overflow:hidden;height:100px;">
                            <img border=0 src="https://boxrec.com/media/images/thumb/3/32/JuanCarlosRamirez.jpg/200px-JuanCarlosRamirez.jpg" width="80px">
                        </div>
                    </a>
                    <a href="/en/proboxer/632104" class="personLink">
                        <div style="float:left;">
                            <span class="flag-icon flag-icon-us" style="margin-right: 3px"></span>
                        </div>
                        <div style="float:left;">
                            Jose Carlos<br>Ramirez
                        </div>
                    </a>
                </td>

                <td valign='top' style="padding-top:5px;">
                    <a href="/en/proboxer/725709">
                        <div class="clear"></div>
                        <div style="width:80px;overflow:hidden;height:100px;">
                            <img border=0 src="https://boxrec.com/media/images/thumb/6/69/JoshTaylormtk.jpeg/200px-JoshTaylormtk.jpeg" width="80px">
                        </div>
                    </a>
                    <a href="/en/proboxer/725709" class="personLink">
                        <div style="float:left;">
                            <span class="flag-icon flag-icon-gb" style="margin-right: 3px"></span>
                        </div>
                        <div style="float:left;">
                            Josh<br>Taylor
                        </div>
                    </a>
                </td>

                <td valign='top' style="padding-top:5px;">
                    <a href="/en/proboxer/725709">
                        <div class="clear"></div>
                        <div style="width:80px;overflow:hidden;height:100px;">
                            <img border=0 src="https://boxrec.com/media/images/thumb/6/69/JoshTaylormtk.jpeg/200px-JoshTaylormtk.jpeg" width="80px">
                        </div>
                    </a>
                    <a href="/en/proboxer/725709" class="personLink">
                        <div style="float:left;">
                            <span class="flag-icon flag-icon-gb" style="margin-right: 3px"></span>
                        </div>
                        <div style="float:left;">
                            Josh<br>Taylor
                        </div>
                    </a>
                </td>

            </tr>
            <tr><td colspan=6 style="border-bottom:1px solid #ddd;height:1px;padding-bottom:5px;padding-top:5px;"></td></tr>
            <tr><td colspan=6 style="padding-bottom:5px;padding-top:5px;"><h1 class="boxhead">Lightweight</h1c></td></tr>
            <tr>
                <th style="padding-left:20px;border-bottom:0;">AllAboutBoxing</th>
                <th style="padding-left:20px;border-bottom:0;">WBC</th>
                <th style="padding-left:20px;border-bottom:0;">WBO</th>
                <th style="padding-left:20px;border-bottom:0;">IBF</th>
                <th style="padding-left:20px;border-bottom:0;">WBA</th>
            </tr>
            <tr>
                <td valign='top' style="padding-top:5px;">
                    <a href="/en/proboxer/776269">
                        <div class="clear"></div>
                        <div style="width:80px;overflow:hidden;height:100px;">
                            <img border=0 src="https://boxrec.com/media/images/thumb/d/d0/Teofimo_Lopez.jpeg/200px-Teofimo_Lopez.jpeg" width="80px">
                        </div>
                    </a>
                    <a href="/en/proboxer/776269" class="personLink">
                        <div style="float:left;">
                            <span class="flag-icon flag-icon-us" style="margin-right: 3px"></span>
                        </div>
                        <div style="float:left;">
                            Teofimo<br>Lopez
                        </div>
                    </a>
                </td>

                <td valign='top' style="padding-top:5px;">
                    <a href="/en/proboxer/741718">
                        <div class="clear"></div>
                        <div style="width:80px;overflow:hidden;height:100px;">
                            <img border=0 src="https://boxrec.com/media/images/thumb/5/5b/DHaney.jpg/200px-DHaney.jpg" width="80px">
                        </div>
                    </a>
                    <a href="/en/proboxer/741718" class="personLink">
                        <div style="float:left;">
                            <span class="flag-icon flag-icon-us" style="margin-right: 3px"></span>
                        </div>
                        <div style="float:left;">
                            Devin<br>Haney
                        </div>
                    </a>
                </td>

                <td valign='top' style="padding-top:5px;">
                    <a href="/en/proboxer/776269">
                        <div class="clear"></div>
                        <div style="width:80px;overflow:hidden;height:100px;">
                            <img border=0 src="https://boxrec.com/media/images/thumb/d/d0/Teofimo_Lopez.jpeg/200px-Teofimo_Lopez.jpeg" width="80px">
                        </div>
                    </a>
                    <a href="/en/proboxer/776269" class="personLink">
                        <div style="float:left;">
                            <span class="flag-icon flag-icon-us" style="margin-right: 3px"></span>
                        </div>
                        <div style="float:left;">
                            Teofimo<br>Lopez
                        </div>
                    </a>
                </td>

                <td valign='top' style="padding-top:5px;">
                    <a href="/en/proboxer/776269">
                        <div class="clear"></div>
                        <div style="width:80px;overflow:hidden;height:100px;">
                            <img border=0 src="https://boxrec.com/media/images/thumb/d/d0/Teofimo_Lopez.jpeg/200px-Teofimo_Lopez.jpeg" width="80px">
                        </div>
                    </a>
                    <a href="/en/proboxer/776269" class="personLink">
                        <div style="float:left;">
                            <span class="flag-icon flag-icon-us" style="margin-right: 3px"></span>
                        </div>
                        <div style="float:left;">
                            Teofimo<br>Lopez
                        </div>
                    </a>
                </td>

                <td valign='top' style="padding-top:5px;">
                    <a href="/en/proboxer/776269">
                        <div class="clear"></div>
                        <div style="width:80px;overflow:hidden;height:100px;">
                            <img border=0 src="https://boxrec.com/media/images/thumb/d/d0/Teofimo_Lopez.jpeg/200px-Teofimo_Lopez.jpeg" width="80px">
                        </div>
                    </a>
                    <a href="/en/proboxer/776269" class="personLink">
                        <div style="float:left;">
                            <span class="flag-icon flag-icon-us" style="margin-right: 3px"></span>
                        </div>
                        <div style="float:left;">
                            Teofimo<br>Lopez
                        </div>
                    </a>
                </td>

            </tr>
            <tr><td colspan=6 style="border-bottom:1px solid #ddd;height:1px;padding-bottom:5px;padding-top:5px;"></td></tr>
            <tr><td colspan=6 style="padding-bottom:5px;padding-top:5px;"><h1 class="boxhead">Super featherweight</h1></td></tr>
            <tr>
                <th style="padding-left:20px;border-bottom:0;">AllAboutBoxing</th>
                <th style="padding-left:20px;border-bottom:0;">WBC</th>
                <th style="padding-left:20px;border-bottom:0;">WBO</th>
                <th style="padding-left:20px;border-bottom:0;">IBF</th>
                <th style="padding-left:20px;border-bottom:0;">WBA</th>
            </tr>
            <tr>
                <td valign='top' style="padding-top:5px;">
                    <a href="/en/proboxer/553222">
                        <div class="clear"></div>
                        <div style="width:80px;overflow:hidden;height:100px;">
                            <img border=0 src="https://boxrec.com/media/images/thumb/c/cf/553222.jpeg/200px-553222.jpeg" width="80px">
                        </div>
                    </a>
                    <a href="/en/proboxer/553222" class="personLink">
                        <div style="float:left;">
                            <span class="flag-icon flag-icon-mx" style="margin-right: 3px"></span>
                        </div>
                        <div style="float:left;">
                            Miguel<br>Berchelt
                        </div>
                    </a>
                </td>

                <td valign='top' style="padding-top:5px;">
                    <a href="/en/proboxer/553222">
                        <div class="clear"></div>
                        <div style="width:80px;overflow:hidden;height:100px;">
                            <img border=0 src="https://boxrec.com/media/images/thumb/c/cf/553222.jpeg/200px-553222.jpeg" width="80px">
                        </div>
                    </a>
                    <a href="/en/proboxer/553222" class="personLink">
                        <div style="float:left;">
                            <span class="flag-icon flag-icon-mx" style="margin-right: 3px"></span>
                        </div>
                        <div style="float:left;">
                            Miguel<br>Berchelt
                        </div>
                    </a>
                </td>

                <td valign='top' style="padding-top:5px;">
                    <a href="/en/proboxer/634455">
                        <div class="clear"></div>
                        <div style="width:80px;overflow:hidden;height:100px;">
                            <img border=0 src="https://boxrec.com/media/images/thumb/9/92/Jamel_Herring2019.jpg/200px-Jamel_Herring2019.jpg" width="80px">
                        </div>
                    </a>
                    <a href="/en/proboxer/634455" class="personLink">
                        <div style="float:left;">
                            <span class="flag-icon flag-icon-us" style="margin-right: 3px"></span>
                        </div>
                        <div style="float:left;">
                            Jamel<br>Herring
                        </div>
                    </a>
                </td>

                <td valign='top' style="padding-top:5px;">
                    <a href="/en/proboxer/634717">
                        <div class="clear"></div>
                        <div style="width:80px;overflow:hidden;height:100px;">
                            <img border=0 src="https://boxrec.com/media/images/thumb/f/f2/Jojo_Diaz.jpg/200px-Jojo_Diaz.jpg" width="80px">
                        </div>
                    </a>
                    <a href="/en/proboxer/634717" class="personLink">
                        <div style="float:left;">
                            <span class="flag-icon flag-icon-us" style="margin-right: 3px"></span>
                        </div>
                        <div style="float:left;">
                            Joseph<br>Diaz
                        </div>
                    </a>
                </td>

                <td valign='top' style="padding-top:5px;">
                    <a href="/en/proboxer/643387">
                        <div class="clear"></div>
                        <div style="width:80px;overflow:hidden;height:100px;">
                            <img border=0 src="https://boxrec.com/media/images/thumb/e/e6/643387.jpeg/200px-643387.jpeg" width="80px">
                        </div>
                    </a>
                    <a href="/en/proboxer/643387" class="personLink">
                        <div style="float:left;">
                            <span class="flag-icon flag-icon-us" style="margin-right: 3px"></span>
                        </div>
                        <div style="float:left;">
                            Gervonta<br>Davis
                        </div>
                    </a>
                </td>

            </tr>
            <tr><td colspan=6 style="border-bottom:1px solid #ddd;height:1px;padding-bottom:5px;padding-top:5px;"></td></tr>
            <tr><td colspan=6 style="padding-bottom:5px;padding-top:5px;"><h1 class="boxhead">Featherweight</h1></td></tr>
            <tr>
                <th style="padding-left:20px;border-bottom:0;">AllAboutBoxing</th>
                <th style="padding-left:20px;border-bottom:0;">WBC</th>
                <th style="padding-left:20px;border-bottom:0;">WBO</th>
                <th style="padding-left:20px;border-bottom:0;">IBF</th>
                <th style="padding-left:20px;border-bottom:0;">WBA</th>
            </tr>
            <tr>
                <td valign='top' style="padding-top:5px;">
                    <a href="/en/proboxer/512777">
                        <div class="clear"></div>
                        <div style="width:80px;overflow:hidden;height:100px;">
                            <img border=0 src="https://boxrec.com/media/images/thumb/9/9a/JoshWarrington2.jpg/200px-JoshWarrington2.jpg" width="80px">
                        </div>
                    </a>
                    <a href="/en/proboxer/512777" class="personLink">
                        <div style="float:left;">
                            <span class="flag-icon flag-icon-gb" style="margin-right: 3px"></span>
                        </div>
                        <div style="float:left;">
                            Josh<br>Warrington
                        </div>
                    </a>
                </td>

                <td valign='top' style="padding-top:5px;">
                    <a href="/en/proboxer/479775">
                        <div class="clear"></div>
                        <div style="width:80px;overflow:hidden;height:100px;">
                            <img border=0 src="https://boxrec.com/media/images/thumb/d/d5/GRussellJr.jpg/200px-GRussellJr.jpg" width="80px">
                        </div>
                    </a>
                    <a href="/en/proboxer/479775" class="personLink">
                        <div style="float:left;">
                            <span class="flag-icon flag-icon-us" style="margin-right: 3px"></span>
                        </div>
                        <div style="float:left;">
                            Gary Allen<br>Russell Jr
                        </div>
                    </a>
                </td>

                <td valign='top' style="padding-top:5px;">
                    <a href="/en/proboxer/602423">
                        <div class="clear"></div>
                        <div style="width:80px;overflow:hidden;height:100px;">
                            <img border=0 src="https://boxrec.com/media/images/thumb/8/87/EmmanuelNavarrete.jpg/200px-EmmanuelNavarrete.jpg" width="80px">
                        </div>
                    </a>
                    <a href="/en/proboxer/602423" class="personLink">
                        <div style="float:left;">
                            <span class="flag-icon flag-icon-mx" style="margin-right: 3px"></span>
                        </div>
                        <div style="float:left;">
                            Emanuel<br>Navarrete
                        </div>
                    </a>
                </td>

                <td valign='top' style="padding-top:5px;">
                    <a href="/en/proboxer/512777">
                        <div class="clear"></div>
                        <div style="width:80px;overflow:hidden;height:100px;">
                            <img border=0 src="https://boxrec.com/media/images/thumb/9/9a/JoshWarrington2.jpg/200px-JoshWarrington2.jpg" width="80px">
                        </div>
                    </a>
                    <a href="/en/proboxer/512777" class="personLink">
                        <div style="float:left;">
                            <span class="flag-icon flag-icon-gb" style="margin-right: 3px"></span>
                        </div>
                        <div style="float:left;">
                            Josh<br>Warrington
                        </div>
                    </a>
                </td>

                <td valign='top' style="padding-top:5px;">
                    <a href="/en/proboxer/374624">
                        <div class="clear"></div>
                        <div style="width:80px;overflow:hidden;height:100px;">
                            <img border=0 src="https://boxrec.com/media/images/thumb/8/8d/Leodegario_Santa_Cruz.jpg/200px-Leodegario_Santa_Cruz.jpg" width="80px">
                        </div>
                    </a>
                    <a href="/en/proboxer/374624" class="personLink">
                        <div style="float:left;">
                            <span class="flag-icon flag-icon-mx" style="margin-right: 3px"></span>
                        </div>
                        <div style="float:left;">
                            Leo<br>Santa Cruz
                        </div>
                    </a>
                </td>

            </tr>
            <tr><td colspan=6 style="border-bottom:1px solid #ddd;height:1px;padding-bottom:5px;padding-top:5px;"></td></tr>
            <tr><td colspan=6 style="padding-bottom:5px;padding-top:5px;"><h1 class="boxhead">Super bantamweight</h1></td></tr>
            <tr>
                <th style="padding-left:20px;border-bottom:0;">AllAboutBoxing</th>
                <th style="padding-left:20px;border-bottom:0;">WBC</th>
                <th style="padding-left:20px;border-bottom:0;">WBO</th>
                <th style="padding-left:20px;border-bottom:0;">IBF</th>
                <th style="padding-left:20px;border-bottom:0;">WBA</th>
            </tr>
            <tr>
                <td valign='top' style="padding-top:5px;">
                    <a href="/en/proboxer/542148">
                        <div class="clear"></div>
                        <div style="width:80px;overflow:hidden;height:100px;">
                            <img border=0 src="https://boxrec.com/media/images/thumb/a/ae/Rey_Vargas_Head.jpg/200px-Rey_Vargas_Head.jpg" width="80px">
                        </div>
                    </a>
                    <a href="/en/proboxer/542148" class="personLink">
                        <div style="float:left;">
                            <span class="flag-icon flag-icon-mx" style="margin-right: 3px"></span>
                        </div>
                        <div style="float:left;">
                            Rey<br>Vargas
                        </div>
                    </a>
                </td>

                <td valign='top' style="padding-top:5px;">
                    <a href="/en/proboxer/611983">
                        <div class="clear"></div>
                        <div style="width:80px;overflow:hidden;height:100px;">
                            <img border=0 src="https://boxrec.com/media/images/thumb/a/a6/LuisNery.jpg/200px-LuisNery.jpg" width="80px">
                        </div>
                    </a>
                    <a href="/en/proboxer/611983" class="personLink">
                        <div style="float:left;">
                            <span class="flag-icon flag-icon-mx" style="margin-right: 3px"></span>
                        </div>
                        <div style="float:left;">
                            Luis<br>Nery
                        </div>
                    </a>
                </td>

                <td valign='top' style="padding-top:5px;">
                    <a href="/en/proboxer/632458">
                        <div class="clear"></div>
                        <div style="width:80px;overflow:hidden;height:100px;">
                            <img border=0 src="https://boxrec.com/media/images/thumb/2/2f/ANGELO_EL_CHINITO_LEO.jpg/200px-ANGELO_EL_CHINITO_LEO.jpg" width="80px">
                        </div>
                    </a>
                    <a href="/en/proboxer/632458" class="personLink">
                        <div style="float:left;">
                            <span class="flag-icon flag-icon-us" style="margin-right: 3px"></span>
                        </div>
                        <div style="float:left;">
                            Angelo<br>Leo
                        </div>
                    </a>
                </td>

                <td valign='top' style="padding-top:5px;">
                    <a href="/en/proboxer/828415">
                        <div class="clear"></div>
                        <div style="width:80px;overflow:hidden;height:100px;">
                            <img border=0 src="https://boxrec.com/media/images/thumb/f/fb/MURODJON_AKHMADALIEV.jpg/200px-MURODJON_AKHMADALIEV.jpg" width="80px">
                        </div>
                    </a>
                    <a href="/en/proboxer/828415" class="personLink">
                        <div style="float:left;">
                            <span class="flag-icon flag-icon-uz" style="margin-right: 3px"></span>
                        </div>
                        <div style="float:left;">
                            Murodjon<br>Akhmadaliev
                        </div>
                    </a>
                </td>

                <td valign='top' style="padding-top:5px;">
                    <a href="/en/proboxer/828415">
                        <div class="clear"></div>
                        <div style="width:80px;overflow:hidden;height:100px;">
                            <img border=0 src="https://boxrec.com/media/images/thumb/f/fb/MURODJON_AKHMADALIEV.jpg/200px-MURODJON_AKHMADALIEV.jpg" width="80px">
                        </div>
                    </a>
                    <a href="/en/proboxer/828415" class="personLink">
                        <div style="float:left;">
                            <span class="flag-icon flag-icon-uz" style="margin-right: 3px"></span>
                        </div>
                        <div style="float:left;">
                            Murodjon<br>Akhmadaliev
                        </div>
                    </a>
                </td>

            </tr>
            <tr><td colspan=6 style="border-bottom:1px solid #ddd;height:1px;padding-bottom:5px;padding-top:5px;"></td></tr>
            <tr><td colspan=6 style="padding-bottom:5px;padding-top:5px;"><h1 class="boxhead">Bantamweight</h1></td></tr>
            <tr>
                <th style="padding-left:20px;border-bottom:0;">AllAboutBoxing</th>
                <th style="padding-left:20px;border-bottom:0;">WBC</th>
                <th style="padding-left:20px;border-bottom:0;">WBO</th>
                <th style="padding-left:20px;border-bottom:0;">IBF</th>
                <th style="padding-left:20px;border-bottom:0;">WBA</th>
            </tr>
            <tr>
                <td valign='top' style="padding-top:5px;">
                    <a href="/en/proboxer/628407">
                        <div class="clear"></div>
                        <div style="width:80px;overflow:hidden;height:100px;">
                            <img border=0 src="https://boxrec.com/media/images/thumb/c/c5/628407.jpeg/200px-628407.jpeg" width="80px">
                        </div>
                    </a>
                    <a href="/en/proboxer/628407" class="personLink">
                        <div style="float:left;">
                            <span class="flag-icon flag-icon-jp" style="margin-right: 3px"></span>
                        </div>
                        <div style="float:left;">
                            Naoya<br>Inoue
                        </div>
                    </a>
                </td>

                <td valign='top' style="padding-top:5px;">
                    <img border=0 src="https://previews.123rf.com/images/newdesignillustrations/newdesignillustrations1811/newdesignillustrations181115572/127557909-vacant-seal-stamp-with-distress-style-blue-vector-rubber-print-of-vacant-title-with-dust-texture-tex.jpg" width="80px">
                    <br><br>
                </td>

                <td valign='top' style="padding-top:5px;">
                    <a href="/en/proboxer/421916">
                        <div class="clear"></div>
                        <div style="width:80px;overflow:hidden;height:100px;">
                            <img border=0 src="https://boxrec.com/media/images/thumb/c/c1/421916.jpeg/200px-421916.jpeg" width="80px">
                        </div>
                    </a>
                    <a href="/en/proboxer/421916" class="personLink">
                        <div style="float:left;">
                            <span class="flag-icon flag-icon-ph" style="margin-right: 3px"></span>
                        </div>
                        <div style="float:left;">
                            John Riel<br>Casimero
                        </div>
                    </a>
                </td>

                <td valign='top' style="padding-top:5px;">
                    <a href="/en/proboxer/628407">
                        <div class="clear"></div>
                        <div style="width:80px;overflow:hidden;height:100px;">
                            <img border=0 src="https://boxrec.com/media/images/thumb/c/c5/628407.jpeg/200px-628407.jpeg" width="80px">
                        </div>
                    </a>
                    <a href="/en/proboxer/628407" class="personLink">
                        <div style="float:left;">
                            <span class="flag-icon flag-icon-jp" style="margin-right: 3px"></span>
                        </div>
                        <div style="float:left;">
                            Naoya<br>Inoue
                        </div>
                    </a>
                </td>

                <td valign='top' style="padding-top:5px;">
                    <a href="/en/proboxer/628407">
                        <div class="clear"></div>
                        <div style="width:80px;overflow:hidden;height:100px;">
                            <img border=0 src="https://boxrec.com/media/images/thumb/c/c5/628407.jpeg/200px-628407.jpeg" width="80px">
                        </div>
                    </a>
                    <a href="/en/proboxer/628407" class="personLink">
                        <div style="float:left;">
                            <span class="flag-icon flag-icon-jp" style="margin-right: 3px"></span>
                        </div>
                        <div style="float:left;">
                            Naoya<br>Inoue
                        </div>
                    </a>
                </td>

            </tr>
            <tr><td colspan=6 style="border-bottom:1px solid #ddd;height:1px;padding-bottom:5px;padding-top:5px;"></td></tr>
            <tr><td colspan=6 style="padding-bottom:5px;padding-top:5px;"><h1 class="boxhead">Super flyweight</h1></td></tr>
            <tr>
                <th style="padding-left:20px;border-bottom:0;">AllAboutBoxing</th>
                <th style="padding-left:20px;border-bottom:0;">WBC</th>
                <th style="padding-left:20px;border-bottom:0;">WBO</th>
                <th style="padding-left:20px;border-bottom:0;">IBF</th>
                <th style="padding-left:20px;border-bottom:0;">WBA</th>
            </tr>
            <tr>
                <td valign='top' style="padding-top:5px;">
                    <a href="/en/proboxer/467843">
                        <div class="clear"></div>
                        <div style="width:80px;overflow:hidden;height:100px;">
                            <img border=0 src="https://boxrec.com/media/images/thumb/7/75/467843.jpeg/200px-467843.jpeg" width="80px">
                        </div>
                    </a>
                    <a href="/en/proboxer/467843" class="personLink">
                        <div style="float:left;">
                            <span class="flag-icon flag-icon-mx" style="margin-right: 3px"></span>
                        </div>
                        <div style="float:left;">
                            Juan Francisco<br>Estrada
                        </div>
                    </a>
                </td>

                <td valign='top' style="padding-top:5px;">
                    <a href="/en/proboxer/467843">
                        <div class="clear"></div>
                        <div style="width:80px;overflow:hidden;height:100px;">
                            <img border=0 src="https://boxrec.com/media/images/thumb/7/75/467843.jpeg/200px-467843.jpeg" width="80px">
                        </div>
                    </a>
                    <a href="/en/proboxer/467843" class="personLink">
                        <div style="float:left;">
                            <span class="flag-icon flag-icon-mx" style="margin-right: 3px"></span>
                        </div>
                        <div style="float:left;">
                            Juan Francisco<br>Estrada
                        </div>
                    </a>
                </td>

                <td valign='top' style="padding-top:5px;">
                    <a href="/en/proboxer/483786">
                        <div class="clear"></div>
                        <div style="width:80px;overflow:hidden;height:100px;">
                            <img border=0 src="https://boxrec.com/media/images/thumb/9/95/483786.jpeg/200px-483786.jpeg" width="80px">
                        </div>
                    </a>
                    <a href="/en/proboxer/483786" class="personLink">
                        <div style="float:left;">
                            <span class="flag-icon flag-icon-jp" style="margin-right: 3px"></span>
                        </div>
                        <div style="float:left;">
                            Kazuto<br>Ioka
                        </div>
                    </a>
                </td>

                <td valign='top' style="padding-top:5px;">
                    <a href="/en/proboxer/506289">
                        <div class="clear"></div>
                        <div style="width:80px;overflow:hidden;height:100px;">
                            <img border=0 src="https://boxrec.com/media/images/thumb/3/33/Jerwin_Juntilla_Ancajas.jpg/200px-Jerwin_Juntilla_Ancajas.jpg" width="80px">
                        </div>
                    </a>
                    <a href="/en/proboxer/506289" class="personLink">
                        <div style="float:left;">
                            <span class="flag-icon flag-icon-ph" style="margin-right: 3px"></span>
                        </div>
                        <div style="float:left;">
                            Jerwin<br>Ancajas
                        </div>
                    </a>
                </td>

                <td valign='top' style="padding-top:5px;">
                    <a href="/en/proboxer/319725">
                        <div class="clear"></div>
                        <div style="width:80px;overflow:hidden;height:100px;">
                            <img border=0 src="https://boxrec.com/media/images/thumb/d/d3/Roman_Gonzalez_WBA.jpg/200px-Roman_Gonzalez_WBA.jpg" width="80px">
                        </div>
                    </a>
                    <a href="/en/proboxer/319725" class="personLink">
                        <div style="float:left;">
                            <span class="flag-icon flag-icon-ni" style="margin-right: 3px"></span>
                        </div>
                        <div style="float:left;">
                            Roman<br>Gonzalez
                        </div>
                    </a>
                </td>

            </tr>
            <tr><td colspan=6 style="border-bottom:1px solid #ddd;height:1px;padding-bottom:5px;padding-top:5px;"></td></tr>
            <tr><td colspan=6 style="padding-bottom:5px;padding-top:5px;"><h1 class="boxhead">Flyweight</h1></td></tr>
            <tr>
                <th style="padding-left:20px;border-bottom:0;">AllAboutBoxing</th>
                <th style="padding-left:20px;border-bottom:0;">WBC</th>
                <th style="padding-left:20px;border-bottom:0;">WBO</th>
                <th style="padding-left:20px;border-bottom:0;">IBF</th>
                <th style="padding-left:20px;border-bottom:0;">WBA</th>
            </tr>
            <tr>
                <td valign='top' style="padding-top:5px;">
                    <a href="/en/proboxer/666339">
                        <div class="clear"></div>
                        <div style="width:80px;overflow:hidden;height:100px;">
                            <img border=0 src="https://boxrec.com/media/images/thumb/9/9a/666339.jpeg/200px-666339.jpeg" width="80px">
                        </div>
                    </a>
                    <a href="/en/proboxer/666339" class="personLink">
                        <div style="float:left;">
                            <span class="flag-icon flag-icon-jp" style="margin-right: 3px"></span>
                        </div>
                        <div style="float:left;">
                            Kosei<br>Tanaka
                        </div>
                    </a>
                </td>

                <td valign='top' style="padding-top:5px;">
                    <a href="/en/proboxer/751478">
                        <div class="clear"></div>
                        <div style="width:80px;overflow:hidden;height:100px;">
                            <img border=0 src="https://boxrec.com/media/images/thumb/c/c2/JulioCesarMartinez.jpg/200px-JulioCesarMartinez.jpg" width="80px">
                        </div>
                    </a>
                    <a href="/en/proboxer/751478" class="personLink">
                        <div style="float:left;">
                            <span class="flag-icon flag-icon-mx" style="margin-right: 3px"></span>
                        </div>
                        <div style="float:left;">
                            Julio Cesar<br>Martinez
                        </div>
                    </a>
                </td>

                <td valign='top' style="padding-top:5px;">
                    <a href="/en/proboxer/718508">
                        <div class="clear"></div>
                        <div style="width:80px;overflow:hidden;height:100px;">
                            <img border=0 src="https://boxrec.com/media/images/thumb/c/cf/Junto_Nakatani.JPG/200px-Junto_Nakatani.JPG" width="80px">
                        </div>
                    </a>
                    <a href="/en/proboxer/718508" class="personLink">
                        <div style="float:left;">
                            <span class="flag-icon flag-icon-jp" style="margin-right: 3px"></span>
                        </div>
                        <div style="float:left;">
                            Junto<br>Nakatani
                        </div>
                    </a>
                </td>

                <td valign='top' style="padding-top:5px;">
                    <a href="/en/proboxer/85424">
                        <div class="clear"></div>
                        <div style="width:80px;overflow:hidden;height:100px;">
                            <img border=0 src="https://boxrec.com/media/images/thumb/0/0d/085424.jpeg/200px-085424.jpeg" width="80px">
                        </div>
                    </a>
                    <a href="/en/proboxer/85424" class="personLink">
                        <div style="float:left;">
                            <span class="flag-icon flag-icon-za" style="margin-right: 3px"></span>
                        </div>
                        <div style="float:left;">
                            Moruti<br>Mthalane
                        </div>
                    </a>
                </td>

                <td valign='top' style="padding-top:5px;">
                    <a href="/en/proboxer/577951">
                        <div class="clear"></div>
                        <div style="width:80px;overflow:hidden;height:100px;">
                            <img border=0 src="https://boxrec.com/media/images/thumb/d/da/Dalakian_Artem.jpg/200px-Dalakian_Artem.jpg" width="80px">
                        </div>
                    </a>
                    <a href="/en/proboxer/577951" class="personLink">
                        <div style="float:left;">
                            <span class="flag-icon flag-icon-ua" style="margin-right: 3px"></span>
                        </div>
                        <div style="float:left;">
                            Artem<br>Dalakian
                        </div>
                    </a>
                </td>
            </tr>
            <tr><td colspan=6 style="border-bottom:1px solid #ddd;height:1px;padding-bottom:5px;padding-top:5px;"></td></tr>
            <tr><td colspan=6 style="padding-bottom:5px;padding-top:5px;"><h1 class="boxhead">Light flyweight</h1></td></tr>
            <tr>
                <th style="padding-left:20px;border-bottom:0;">AllAboutBoxing</th>
                <th style="padding-left:20px;border-bottom:0;">WBC</th>
                <th style="padding-left:20px;border-bottom:0;">WBO</th>
                <th style="padding-left:20px;border-bottom:0;">IBF</th>
                <th style="padding-left:20px;border-bottom:0;">WBA</th>
            </tr>
            <tr>
                <td valign='top' style="padding-top:5px;">
                    <a href="/en/proboxer/692967">
                        <div class="clear"></div>
                        <div style="width:80px;overflow:hidden;height:100px;">
                            <img border=0 src="https://boxrec.com/media/images/thumb/5/59/Ken_Shiro.jpg/200px-Ken_Shiro.jpg" width="80px">
                        </div>
                    </a>
                    <a href="/en/proboxer/692967" class="personLink">
                        <div style="float:left;">
                            <span class="flag-icon flag-icon-jp" style="margin-right: 3px"></span>
                        </div>
                        <div style="float:left;">
                            Kenshiro<br>Teraji
                        </div>
                    </a>
                </td>

                <td valign='top' style="padding-top:5px;">
                    <a href="/en/proboxer/692967">
                        <div class="clear"></div>
                        <div style="width:80px;overflow:hidden;height:100px;">
                            <img border=0 src="https://boxrec.com/media/images/thumb/5/59/Ken_Shiro.jpg/200px-Ken_Shiro.jpg" width="80px">
                        </div>
                    </a>
                    <a href="/en/proboxer/692967" class="personLink">
                        <div style="float:left;">
                            <span class="flag-icon flag-icon-jp" style="margin-right: 3px"></span>
                        </div>
                        <div style="float:left;">
                            Kenshiro<br>Teraji
                        </div>
                    </a>
                </td>

                <td valign='top' style="padding-top:5px;">
                    <a href="/en/proboxer/778096">
                        <div class="clear"></div>
                        <div style="width:80px;overflow:hidden;height:100px;">
                            <img border=0 src="https://boxrec.com/media/images/thumb/c/ce/778096.jpg/200px-778096.jpg" width="80px">
                        </div>
                    </a>
                    <a href="/en/proboxer/778096" class="personLink">
                        <div style="float:left;">
                            <span class="flag-icon flag-icon-mx" style="margin-right: 3px"></span>
                        </div>
                        <div style="float:left;">
                            Elwin<br>Soto
                        </div>
                    </a>
                </td>

                <td valign='top' style="padding-top:5px;">
                    <a href="/en/proboxer/530362">
                        <div class="clear"></div>
                        <div style="width:80px;overflow:hidden;height:100px;">
                            <img border=0 src="https://boxrec.com/media/images/thumb/5/52/530362.jpeg/200px-530362.jpeg" width="80px">
                        </div>
                    </a>
                    <a href="/en/proboxer/530362" class="personLink">
                        <div style="float:left;">
                            <span class="flag-icon flag-icon-ni" style="margin-right: 3px"></span>
                        </div>
                        <div style="float:left;">
                            Felix<br>Alvarado
                        </div>
                    </a>
                </td>

                <td valign='top' style="padding-top:5px;">
                    <a href="/en/proboxer/752878">
                        <div class="clear"></div>
                        <div style="width:80px;overflow:hidden;height:100px;">
                            <img border=0 src="https://boxrec.com/media/images/thumb/a/aa/752878.jpeg/200px-752878.jpeg" width="80px">
                        </div>
                    </a>
                    <a href="/en/proboxer/752878" class="personLink">
                        <div style="float:left;">
                            <span class="flag-icon flag-icon-jp" style="margin-right: 3px"></span>
                        </div>
                        <div style="float:left;">
                            Hiroto<br>Kyoguchi
                        </div>
                    </a>
                </td>

            </tr>
            <tr><td colspan=6 style="border-bottom:1px solid #ddd;height:1px;padding-bottom:5px;padding-top:5px;"></td></tr>
            <tr><td colspan=6 style="padding-bottom:5px;padding-top:5px;"><h1 class="boxhead">Minimumweight</h1></td></tr>
            <tr>
                <th style="padding-left:20px;border-bottom:0;">AllAboutBoxing</th>
                <th style="padding-left:20px;border-bottom:0;">WBC</th>
                <th style="padding-left:20px;border-bottom:0;">WBO</th>
                <th style="padding-left:20px;border-bottom:0;">IBF</th>
                <th style="padding-left:20px;border-bottom:0;">WBA</th>
            </tr>
            <tr>
                <td valign='top' style="padding-top:5px;">
                    <a href="/en/proboxer/383177">
                        <div class="clear"></div>
                        <div style="width:80px;overflow:hidden;height:100px;">
                            <img border=0 src="https://boxrec.com/media/images/thumb/b/b1/383177.jpeg/200px-383177.jpeg" width="80px">
                        </div>
                    </a>
                    <a href="/en/proboxer/383177" class="personLink">
                        <div style="float:left;">
                            <span class="flag-icon flag-icon-th" style="margin-right: 3px"></span>
                        </div>
                        <div style="float:left;">
                            Chayaphon<br>Moonsri
                        </div>
                    </a>
                </td>

                <td valign='top' style="padding-top:5px;">
                    <a href="/en/proboxer/383177">
                        <div class="clear"></div>
                        <div style="width:80px;overflow:hidden;height:100px;">
                            <img border=0 src="https://boxrec.com/media/images/thumb/b/b1/383177.jpeg/200px-383177.jpeg" width="80px">
                        </div>
                    </a>
                    <a href="/en/proboxer/383177" class="personLink">
                        <div style="float:left;">
                            <span class="flag-icon flag-icon-th" style="margin-right: 3px"></span>
                        </div>
                        <div style="float:left;">
                            Chayaphon<br>Moonsri
                        </div>
                    </a>
                </td>

                <td valign='top' style="padding-top:5px;">
                    <a href="/en/proboxer/766660">
                        <div class="clear"></div>
                        <div style="width:80px;overflow:hidden;height:100px;">
                            <img border=0 src="https://boxrec.com/media/images/thumb/9/9a/Wmendez.jpg/200px-Wmendez.jpg" width="80px">
                        </div>
                    </a>
                    <a href="/en/proboxer/766660" class="personLink">
                        <div style="float:left;">
                            <span class="flag-icon flag-icon-pr" style="margin-right: 3px"></span>
                        </div>
                        <div style="float:left;">
                            Wilfredo<br>Mendez
                        </div>
                    </a>
                </td>

                <td valign='top' style="padding-top:5px;">
                    <a href="/en/proboxer/720606">
                        <div class="clear"></div>
                        <div style="width:80px;overflow:hidden;height:100px;">
                            <img border=0 src="https://boxrec.com/media/images/thumb/6/6f/720606.jpeg/200px-720606.jpeg" width="80px">
                        </div>
                    </a>
                    <a href="/en/proboxer/720606" class="personLink">
                        <div style="float:left;">
                            <span class="flag-icon flag-icon-ph" style="margin-right: 3px"></span>
                        </div>
                        <div style="float:left;">
                            Pedro<br>Taduran
                        </div>
                    </a>
                </td>

                <td valign='top' style="padding-top:5px;">
                    <a href="/en/proboxer/617144">
                        <div class="clear"></div>
                        <div style="width:80px;overflow:hidden;height:100px;">
                            <img border=0 src="https://boxrec.com/media/images/thumb/0/0d/Niyomtrong_Thammanoon.jpg/200px-Niyomtrong_Thammanoon.jpg" width="80px">
                        </div>
                    </a>
                    <a href="/en/proboxer/617144" class="personLink">
                        <div style="float:left;">
                            <span class="flag-icon flag-icon-th" style="margin-right: 3px"></span>
                        </div>
                        <div style="float:left;">
                            Thammanoon<br>Niyomtrong
                        </div>
                    </a>
                </td>
            </tr>
        </table>
    </div>
</body>
</html>
